---
title: Le Wagon - Middleman
---

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container text-center">
  <h2>Recent flats</h2>
  <div class="row text-left">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h3>Some stuff</h3>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://kitt.lewagon.com/placeholder/cities/london');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>

</div>
